<section class="m-container wrap">
  <header class="l-article-header">
    <div class="item-title">
      <h2>Canis Lupus</h2>
      <p>wolf. Lobo</p>
    </div>
    <div class="search-wrapper">
      <div class="m-search"></div>
      <div class="m-suggestions"></div>
    </div>
  </header>
  <div class="l-content">
    <div class="especie-detail">
    </div>
  </div>
</section>

