<section class="m-container wrap">
  <header class="l-article-header">
    <div class="m-detail-header">
      <div class="item-title">
        <h2 id="speciesName"></h2>
        <p id="commonNames"></p>
      </div>
      <div class="search-wrapper">
        <div class="m-search"></div>
        <div class="m-suggestions"></div>
      </div>
    </div>
  </header>
  <div class="l-content">
    <div class="m-breadcrumbs"></div>
    <div class="especie-detail"></div>
  </div>
</section>

