<section class="m-container wrap">
  <header class="l-article-header">
    <div class="item-title">
      <h2>Canis Lupus</h2>
      <p>wolf. Lobo</p>
    </div>
    <div class="search-wrapper">
      <div class="m-search"></div>
      <div class="m-suggestions"></div>
    </div>
  </header>
  <div class="l-content">
    <div class="especie-detail">
      <div class="main-details">
        <table>
          <tr>
            <th>scientific name</th>
            <td>Canis Lupus</td>
            <td class="logos">
              <img src="images/logo_gbif.png" alt="gbif">
              <img src="images/logo_species.png" alt="Species+">
            </td>
          </tr>
          <tr>
            <th>kingdom</th>
            <td>animatra</td>
          </tr>
          <tr>
            <th>kingdom</th>
            <td>animatra</td>
          </tr>
        </table>
      </div>
      <div class="common-names">
        <table>
          <tr>
            <th>common names</th>
            <td>wolf <span>[en]</span></td>
          </tr>
          <tr>
            <th></th>
            <td>wolf <span>[en]</span></td>
          </tr>
          <tr>
            <th></th>
            <td>wolf <span>[en]</span></td>
          </tr>
        </table>
      </div>
      <div class="distribution">
        <table>
          <tr>
            <th>distribution</th>
            <td>Sao Paulo</td>
          </tr>
          <tr>
            <th></th>
            <td>Rio de Janeiro</td>
          </tr>
        </table>
      </div>
      <div class="description">
        <table>
          <tr>
            <th>description</th>
            <td>Sao Paulo</td>
          </tr>
          <tr>
            <th></th>
            <td>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>

