<div class="m-modal-window">
  <div class="modal-background"></div>
  <div class="m-container wrap">
    <div class="btn-close">x</div>

    {{#if description}}
    <h3>Suggest changes to the description</h3>
    <form action="">
      <textarea name="textarea"></textarea>
      <button class="btn-cancel"></button>
      <button type="submit" class="btn-send">send</button>
    </form>
    {{/if}}

    {{#if distribution }}
    <h3>Distribution</h3>
    <form action="">
      <textarea name="textarea"></textarea>
      <button class="btn-cancel"></button>
      <button type="submit" class="btn-send">send</button>
    </form>
    {{/if}}

    {{#if commonNames}}
    <h3>Common names</h3>
    <form action="">
      <textarea name="textarea"></textarea>
      <button class="btn-cancel"></button>
      <button type="submit" class="btn-send">send</button>
    </form>
    {{/if}}

  </div>
</div>
