<div class="m-modal-window">
  <div class="modal-background"></div>
  <div class="m-container wrap">
    <div class="btn-close"></div>

    {{#if description}}
    <h3>Suggest changes to the description</h3>
      <div class="labels">
        <p>Description</p>
      </div>
      <form action="especies/{{species.speciesId}}" method="put">
        <textarea id="description">{{species.description}}</textarea>
        <button class="btn-cancel"></button>
        <button type="submit" class="btn-send" id="updateDescription">send</button>
      </form>
    {{/if}}

    {{#if distribution }}
    <h3>Suggest changes to the distribution</h3>
    <form action="">
      <div class="existing-items-list">
        <div class="labels">
          <p>Distribution</p>
        </div>
        <div class="m-existing-item">
          <input type="text" readonly value="Sao Paulo">
          <button class="btn-delete"></button>
        </div>
        <div class="m-existing-item">
          <input type="text" readonly value="Sao Paulo">
          <button class="btn-delete"></button>
        </div>
      </div>
      <button class="btn-add-new">Add a new item</button>
      <button type="submit" class="btn-send">send</button>
      <button class="btn-cancel">Cancel</button>
    </form>
    {{/if}}

    {{#if commonNames}}
    <h3>Suggest changes to the common names</h3>
    <form action="">
      <div class="existing-items-list">
        <div class="labels">
          <p>Common name</p>
          <p>Language</p>
          <p>Region</p>
        </div>
        <div class="m-existing-item">
          <input type="text" readonly value="wolf" class="name">
          <input type="text" readonly value="en" class="language">
          <input type="text" readonly value="Rio de Janeiro" class="region">
          <button class="btn-delete"></button>
        </div>
      </div>
      <button class="btn-add-new">Add a new item</button>
      <button type="submit" class="btn-send">send</button>
      <button class="btn-cancel">Cancel</button>
    </form>
    {{/if}}

  </div>
</div>
