<div class="m-modal-window">
  <div class="modal-background"></div>
  <div class="m-container wrap">
    <div class="btn-close"></div>

    {{#if description}}
    <h3>Suggest changes to the description</h3>
      <form action="especies/{{species.speciesId}}" method="post">
        <textarea id="editDescription" name="textarea">{{species.description}}</textarea>
        <button class="btn-cancel"></button>
        <button type="submit" class="btn-send" id="updateDescription">send</button>
      </form>
    {{/if}}

    {{#if distribution }}
    <h3>Suggest changes to the distribution</h3>
    <form action="">

      <button type="submit" class="btn-send">send</button>
      <button class="btn-cancel">cancel</button>
    </form>
    {{/if}}

    {{#if commonNames}}
    <h3>Suggest changes to the common names</h3>
    <form action="">
      <textarea name="textarea"></textarea>
      <button type="submit" class="btn-send">send</button>
      <button class="btn-cancel">cancel</button>
    </form>
    {{/if}}

  </div>
</div>
