<div class="m-modal-window">
  <div class="modal-wrapper">
    <div class="m-container wrap">
      <div class="btn-close">x</div>
      <h3>Suggest changes to the description</h3>
      <form action="">
        <textarea name="textarea"></textarea>
        <button class="btn-cancel"></button>
        <button type="submit" class="btn-send">send</button>
      </form>
    </div>
  </div>
</div>
