<article class="m-container wrap">
  <header class="l-article-header">
      <div class="m-search"></div>
  </header>
  <div class="l-content">
    <div class="m-breadcrumbs">
      <ul>
        <li>CHORDATA</li>
        <li>CHORDATA</li>
        <li>CHORDATA</li>
        <li>CHORDATA</li>
      </ul>
    </div>
    <div class="especies-list">
      <ul>
        <li class="m-especie-item">
          <p class="especie-name">Canis Lupus <span>- Wolf, Lobo</span></p>
          <div class="data-origin">
            <img src="images/logo_gbif.png" alt="gbif">
            <img src="images/logo_species.png" alt="Species+">
            <img src="images/logo_brazil.png" alt="Brazil">
          </div>
        </li>
        <li class="m-especie-item">
          <p class="especie-name">Canis Lupus <span>- Wolf, Lobo</span></p>
          <div class="data-origin">
            <img src="images/logo_gbif.png" alt="gbif">
            <img src="images/logo_species.png" alt="Species+">
            <img src="images/logo_brazil.png" alt="Brazil">
          </div>
        </li>
        <li class="m-especie-item">
          <p class="especie-name">Canis Lupus <span>- Wolf, Lobo</span></p>
          <div class="data-origin">
            <img src="images/logo_gbif.png" alt="gbif">
            <img src="images/logo_species.png" alt="Species+">
            <img src="images/logo_brazil.png" alt="Brazil">
          </div>
        </li>
      </ul>
    </div>
  </div>
</article>
