<article class="m-container">
  <h2>Search a species</h2>
  <form action="">
    <div class="form-wrapper">
      <input type="text">
      <input class="btn-search" type="submit" value="search">
    </div>
  </form>
</article>

