<form action="#especies" autocomplete="off">
  <div class="form-wrapper">
    <input type="text" name="q" placeholder="{{placeholder}}">
    <button class="btn-search" type="submit">Search</button>
  </div>
</form>

