<form action="#especies" autocomplete="off">
  <div class="form-wrapper">
    <input type="text" name="query" placeholder="Search by scientific name, taxon or common name" autofocus>
    <button class="btn-search" type="submit">search</button>
  </div>
</form>

