<form action="">
  <div class="form-wrapper">
    <input type="text" placeholder="Search by scientific name, taxon or common name">
    <button class="btn-search" type="submit">search</button>
  </div>
</form>

