%btn {
  padding: $small-margin $medium-margin;
  color: $text-color-0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

%btn-green {
  @extend %btn;
  background-color: $bg-color-1;
}

%btn-grey {
  @extend %btn;
  background-color: $grey-d9;
}

.btn-search,
.btn-send {
  @extend %btn-green;
}

.btn-send {
  border-radius: 5px;
  text-transform: uppercase;
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}


.btn-edit {
  text-transform: uppercase;
  padding-left: 20px;
  background: url(../images/icon_edit.svg) no-repeat left;
  background-size: 15px;
}

.btn-close {
  float: right;
  background: url(../images/close.svg) no-repeat center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn-cancel {
  float: right;
  font-size: $text-size;
  color: $grey-a;
  font-weight: 700;
  line-height: 50px;
}

.btn-add-new {
  color: $text-color-2;
  font-size: $text-size;
  font-weight: 700;
  line-height: 50px;
}

.btn-delete {
  @extend %btn-grey;
  box-sizing: border-box;
  width: 10%;
  height: 49px;
  padding: 20px 20px;
  background-image: url(../images/icon_trash.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}
