textarea {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  margin-bottom: $small-margin;
  background-color: $bg-color-0;
  border-radius: 5px;
  border: 1px solid $grey-ca;
  font-size: $text-size;
  font-weight: 500px;
  box-shadow: inset 1px 1px 3px rgba(#000, .1);

  &:focus {
    border: 1px solid $grey-ca;
  }
}

input {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 75%;
  background-color: $bg-color-0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid $grey-ca;
  border-right: 0;
  padding: 0 $small-margin;
  line-height: 55px;
  font-size: $regular-size;
  box-shadow: inset 1px 1px 3px rgba(#000, .1);

  @include placeholder() {
    font-style: italic;
    font-size: $regular-size;
    font-weight: 300;
    line-height: 55px;
    color: $grey-9;
  }

  .detail-page & {
    font-size: $text-size;

    @include placeholder() {
      font-size: 14px;
      color: $grey-9;
    }
  }
}
