body {
  width: 100%;
  // background: url('');
  background-color: grey;
  font-family: $main-font-family;
}

h1 {
  margin: 0;
  font-weight: 800;
  color: $text-color-2;
  font-size: $h1-font-size;
  line-height: $header-height;
}
