body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 960px;
  background-image: url('../../images/background.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: $main-font-family;
  color: $text-color-1;
}

h1 {
  margin: 0;
  font-weight: 800;
  color: $text-color-2;
  font-size: $h1-font-size;
  line-height: $header-height;

  a {
    color: $text-color-2;
  }
}

input {
  @extend %form-field-reset;
}

ul {
  @extend %reset-list;
}

button {
  @extend %form-field-reset;
}

a {
  text-decoration: none;
  color: $text-color-1;

  &:focus {
    outline: 0;
    border: 0;
  }
}
