body {
  width: 100%;
  background: url('../../images/background.jpg');
  font-family: $main-font-family;
  color: $text-color-1;
}

h1 {
  margin: 0;
  font-weight: 800;
  color: $text-color-2;
  font-size: $h1-font-size;
  line-height: $header-height;
}

ul {
  @extend %reset-list;
}
