th {
  text-transform: uppercase;
  color: $grey-a;
  font-size: $micro-size;
  text-align: right;
}

td {
  font-size: $text-size;
  font-style: italic;

  &.first-name {
    font-weight: 700;
  }
}
