table {
  // margin-top: $medium-margin;
  width: 100%;

  p {
    margin: 0;
  }
}

th {
  text-transform: uppercase;
  color: $grey-a;
  font-size: $micro-size;
  text-align: right;
  padding-right: $micro-margin;
  font-weight: 300;

  &:first-child {
    display: block;
    width: 104px;
  }
}

tr {
  vertical-align: top;
  line-height: 30px;
  padding: 0 $micro-margin;
}

td {
  vertical-align: top;
  font-size: $text-size;
  font-style: italic;

  img {
    margin-left: $micro-margin;
  }

  &.first-name {
    font-weight: 700;
  }
}

.separata {
  height: 20px;
}

.edition-cell {
  width: 50%;
  text-align: right;
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.description-cell {
  width: 60%;
  font-style: normal;
}

