.m-container {
  @extend %center;
  box-sizing: border-box;
  background-color: $bg-color-0;
  border-radius: 5px;
  text-align: center;

  h2 {
    margin: 0;
    font-size: $h1-font-size;
    font-weight: 600;
  }

  &.welcome-page {
    padding: $large-margin;
  }

  .search-wrapper {
    position: relative;
  }
}
