.m-container {
  @extend %center;
  box-sizing: border-box;
  background-color: $bg-color-2;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(#000, .1);

  h2 {
    margin: 0;
    font-size: $h2-font-size;
    font-weight: 600;
  }

  &.welcome-page {
    padding: $large-margin;
  }

  .search-wrapper {
    position: relative;
  }
}
