.m-especie-detail {
  .cites-appendix {
    color: #fff;
    height: 26px;
    width: 26px;
    font-style: normal;
    display: inline-block;

    &.appendix-I {
      background: url(../images/cites-appendix.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
      span {
        line-height: 26px;
        margin-left: 11px;
        display: block;
      }
    }

    &.appendix-II {
      background: url("../images/cites-appendix.png") repeat scroll 0 234px rgba(0, 0, 0, 0);
      span {
        line-height: 26px;
        margin-left: 9.5px;
        display: block;
      }
    }

    &.appendix-III {
      background: url("../images/cites-appendix.png") repeat scroll 0 208px rgba(0, 0, 0, 0);
      span {
        line-height: 26px;
        margin-left: 8px;
        display: block;
      }
    }

    &.appendix-NC {
      background: url("../images/cites-appendix.png") repeat scroll 0 182px rgba(0, 0, 0, 0);
    }
  }
}
