.m-modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;


  .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(#000, .7);
  }

  .m-container {
    position: relative;
    z-index: 2;
  }
}
