.m-pagination {
  width: 100%;
  text-align: center;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid $grey-d9;

  ul {
    display: inline-block;
  }

  li {
    float: left;
    padding: 0 15px;

    &.is-current {
      a {
        color: $text-color-2;
        border-bottom: 1px solid $text-color-2;
      }
    }
  }

  a {
    font-family: $number-font-family;
    color: $grey-a;
    font-size: $text-size;
  }

  #nextPage,
  #prevPage {
    display: block;
    height: 30px;
    width: 30px;
    padding: 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: $text-color-2;
    color: $text-color-0;
  }

  // #nextPage:before {
  //   content: '';
  //   @include
  // }
}
