.m-search {

  .welcome-page & {
    padding-bottom: 0;
  }

  .form-wrapper {
    display: flex;
    display: -ms-box;
    flex-direction: row;
  }

  .btn-search {
    box-sizing: border-box;
    width: 25%;
    text-transform: uppercase;
  }

  .detail-page & {
    .btn-search {
      padding: 15px 20px;
      font-size: 14px;
      width: 30%;
    }
  }
}

